*, ::before, ::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }

body{
    display: flex;
    background-image:url(../src/mew2_flat_design.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

main ul li, main h3, main ul li a{
    color: rgb(170, 25, 25);
    text-decoration: none;

    
}

main h3{
    justify-content: center;
}

main ul{
    background-color: #9228286d;
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

main > h3 {
    font-size: 2.3rem;
}


.logo {
    float: left;
    margin: 1rem 1rem;
    width: 100px;
    height: auto;
  }

